#firstLine{
    color: black;
    font-weight: bolder;
    text-shadow: .25px .25px red;
}

#contactInfo{
    /* display: inline-block; */
    float: initial
}

#userMap{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}