<p> Let's create a future of Health Care for All!
        <i class="em em-female-doctor"></i>
<br>Thank you for being involved. <i class="em em---1"></i> </p>
<img src='../assets/medicareforall.jpg' >
<div class= "level">
    <div class="level-item has-text-centered">
        <p>Find people to help make Medicare for All happen!</p>
    </div>
    <div class="level-item has-text-centered">
        <p>Meet new friends and create a grassroots movement!</p>
    </div>
    <div class="level-item has-text-centered">
        <p>Connect with your community!</p>
    </div>
</div>
<p> {{quote}}</p>