#generateButton {
    
    /* border: none;  */
    border: 2px solid grey;
    border-radius: 5px;
    background: none;
    font-weight: bolder;
    font-size: 18px;
    transition: transform .05s;
}

#generateButton:hover {
    transform: scale(1.03);
}

#buttonField {
    text-align: center;
}