<!-- Should be a google map created by entering a bunch of points in -->

<div>
<agm-map [latitude]="43.008663" [longitude]="-71.454391">
  <agm-marker
      *ngFor="let data of campaignContacts; let i = index"
      [latitude]="data.fLat"
      [longitude]="data.fLng">
      <agm-info-window>
          <strong>{{data.firstName}} {{data.lastName}}</strong> <br>
          <strong>{{data.address}}</strong> <br>
          <strong>{{data.phonenumber}}</strong> <br>
          <strong>{{data.email}}</strong> <br>
        </agm-info-window>
    </agm-marker>
</agm-map>

<button>Return to Contacts</button>
<button>Delete Contact</button>
<button>Edit Contact</button>
</div>




<!-- Listing of all the points in order that the
person is going to go to. -->
You are visiting the following people.
<li *ngFor="let user of campaignContacts ">
  <a class= "level-item" [routerLink]="['/contactdetail', user._id]">
    <button class = "contactButton" >{{user.firstName}}, {{user.lastName}}</button>
  </a>

</li>

