agm-map {
    height: 300px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

ul#m4a_navbar {
    text-align: center;
    list-style: none;
    display: inline-block;
    vertical-align: baseline;
}

#mainFrame {
    background-color: beige;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
}

ul#m4a_navbar li {
    display: inline;
}

#nav_div {
    width: 100%;
}

nav {
    text-align: center;
    font-size: 15px;
    transition: transform .2s; 

}

nav:target{
    color: black;
}

.linkitem:hover{
    transform: scale(1.5);
}

a {
    transition: transform .2s;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000,
        3px 3px #6c1010;
    font-weight: bold; 
}

a:hover {
    transform: scale(1.5);

}


#main_logo {
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    margin: auto;
    width: 25%;
}

.text {
    text-align: center;
}

.wordart {
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .wordart.italic-outline {
      transform: scale(1, 1.3);
      -webkit-transform: scale(1, 1.3);
      -moz-transform: scale(1, 1.3);
      -o-transform: scale(1, 1.3);
      -ms-transform: scale(1, 1.3);
  }
  
  .wordart.italic-outline .text {
      letter-spacing: -0.01em;
      font-family: Arial, sans-serif;
      font-weight: bold;
      color: white;
      -webkit-text-stroke: 0.01em #000;
      filter: progid:DXImageTransform.Microsoft.Glow(Color=#000000, Strength=1);
      text-shadow: 0.03em 0.03em 0 #6D6D6D;
  }
  

#m4a_navitem {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    /* padding: 10px; */
}

.shake {
	display:inline-block
}
.shake {
	/* display:block; */
	position:relative;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}