<body>
<div>

<h1 class="wordart italic-outline"><span class="text">Medicare for All</span></h1>    
<div id="nav_div">
    <nav role='navigation'>
        <a class = "linkitem" routerLink="/login" routerLinkActive="active"><span class="zoom">Login</span></a>
        <a class = "linkitem" routerLink="/turf" routerLinkActive="active"><span class="zoom">Generate Turf</span></a>
        <a class = "linkitem" routerLink="/user" routerLinkActive="active"><span class="zoom">User</span></a>
    </nav>
    </div>
<div id="mainFrame">
<router-outlet></router-outlet>

</div>

</div>

</body>