body {
    background: #050505;
  }
  
  .my-path {
    fill:none;
    stroke:#cfc33a;
    stroke-width:4;
  }


  .descText {
    font-size: 2vw;
  }

  .quoteText {
    font-size: 1vw;
    text-align: center;
    vertical-align: middle;
  }

  #mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }