
<div class="mainFrame">
<div *ngIf="living" class="contactFrame">
  <div class="contactTop">
    <span class="contactHeader">
      Contact <span class="contactNum">{{ arraySpot + 1 }}</span> of 
    <span class="contactNum">
      {{arrayLength}}</span>.</span></div>
    
    <table class="contactClass">
    <tr>
      <td>{{campaign}}</td>
    </tr>
    <tr>
      <td>Name: </td>
      <td> {{ contactData.firstName }} {{ contactData.lastName }} </td>
    </tr>
    <tr>
        <td>Address: </td>
      <td>{{ contactData.address }} </td>
    </tr>
    <tr *ngIf="contactData.phonenumber">
        <td>Phone Number: </td>
        <td>{{ contactData.phonenumber }} </td>
    </tr>
    <tr *ngIf="contactData.email">
        <td>Email: </td>
        <td>{{contactData.email}} </td>
    </tr>
  </table><div class = "contactMenuFooter">
  <a [routerLink]= "['/editcontact', contactData._id]"><button class = "contactButton" (click)="editContact()">Edit</button></a>
  <button class = "contactButton" (click)="deleteContact(contactData._id)">Delete</button>
  <a [routerLink]="['/contactdetail', contactData._id]">
      <button class = "contactButton" >More Info</button>
  </a>
  <button (click) = "parseAddress(lng)">Test Moment</button>
</div>
</div>
<div class="confirmBox"> 
  <input
        (click) = "changeStatus()" 
        type="checkbox">
</div>
</div>