table{
    margin-left: 5%;
    padding: 0%;

    /* border: 1px solid black; */
    width: 50%;
}

.contactHeader {
    color: white;
    font-family: monospace;
    text-shadow: 2px 2px black;
    
}
.contactNum{
    font-weight: bold;
}
.contactClass tr:nth-child(odd) {
    background-color: rgb(173, 210, 211);
}
.contactClass tr:nth-child(even) {
    background-color: rgb(243, 237, 228);
}

.confirmBox {
    /* display: inline-block;
    float: right; */
    vertical-align:top;
    display: inline-block;
}


.contactMenuFooter {
    background-color: #9A3334;
}

.contactTop {
    background-color: #9A3334;
}

.contactButton {
    border: none;
    background: none;

    color: white;
    font-weight: bold;
    transition: transform .2s;
    text-shadow: 2px black;
}

.contactButton:hover{
    transform: scale(1.7);
    color: white;
    font-weight: bolder;
}

.contactFrame {
    display: inline-block;
    background-color: rgb(56, 56, 203);
    transition: transform .1s;
    text-shadow: .25px .25px red;
    float: left;
    display: inline-block;
}

.mainFrame {
    overflow: hidden;
}

.contactFrame:hover{
    background-color: rgb(93, 93, 196);
    transform: scale(1.01)
}