/* You can add global styles to this file, and also import other style files */
@import '~bulma/css/bulma.min.css';
@import '~font-awesome/css/font-awesome.min.css';
html {
    background-color: #87CEFA;
}
body {
    background-color: #87CEFA;
    font-size: 100%;
    font-family: monospace;
}
